.scroll-top {
	position: fixed;
	bottom: 2rem;
	right: 4rem;
	background-color: transparent;
}

.scroll-top .scroll-top-icon {
	width: 36px;
	height: 36px;
}

@media (max-width: 900px) {
	.scroll-top {
		bottom: 0.5rem;
		right: 0.5rem;
	}
}
